body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #333;
  text-decoration: underline;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0px auto 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block.projectscontainer {
  height: 600px;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.div-block.projectscontainer.posters-container {
  height: auto;
}

.div-block.footer {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navs {
  display: inline-block;
  margin-right: 20px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 900;
  text-decoration: none;
}

.navs:hover {
  color: #b8b8b8;
}

.navs.w--current {
  color: #ff4141;
}

.navs.projectnav {
  margin-right: 0px;
}

.navs.projectnav.w--current {
  color: #ff4141;
}

.div-block-2 {
  margin-left: 15px;
}

.div-block-3 {
  margin-right: 15px;
}

.projectwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.projectwrap.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.projectwrap.about {
  display: block;
  width: 60%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-big {
  width: 66.66%;
  margin-left: 0px;
  padding: 5px;
}

.project-big.medium {
  width: 33.33%;
}

.project-small {
  width: 33.33%;
  padding: 5px;
}

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  background-image: -webkit-linear-gradient(270deg, rgba(44, 42, 39, .85), rgba(44, 42, 39, .85)), url('../images/posters32x.jpg');
  background-image: linear-gradient(180deg, rgba(44, 42, 39, .85), rgba(44, 42, 39, .85)), url('../images/posters32x.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  text-decoration: none;
}

.projects.greenmeapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(59, 216, 216, .85), rgba(59, 216, 216, .85)), url('../images/green-me-app.gif');
  background-image: linear-gradient(180deg, rgba(59, 216, 216, .85), rgba(59, 216, 216, .85)), url('../images/green-me-app.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  text-decoration: none;
}

.projects.greenmedesktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(108, 221, 13, .85), rgba(108, 221, 13, .85)), url('../images/greenmedesktop2x.png');
  background-image: linear-gradient(180deg, rgba(108, 221, 13, .85), rgba(108, 221, 13, .85)), url('../images/greenmedesktop2x.png');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  text-decoration: none;
}

.projects.fencing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(233, 37, 84, .85), rgba(233, 37, 84, .85)), url('../images/Fencing-infographic.gif');
  background-image: linear-gradient(180deg, rgba(233, 37, 84, .85), rgba(233, 37, 84, .85)), url('../images/Fencing-infographic.gif');
  background-position: 0px 0px, 50% 14%;
  background-size: auto, cover;
  text-decoration: none;
}

.projects.badgewrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.projects.poster1 {
  background-image: none;
}

.section {
  display: block;
  height: auto;
  margin-bottom: 25px;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-center {
  height: auto;
}

.projects-headline {
  padding: 10px;
  border: 5px solid #fff;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  font-weight: 900;
  text-align: center;
}

.case-study {
  font-size: 21px;
  line-height: 23px;
  font-weight: 300;
}

.image {
  position: absolute;
  top: -32px;
  right: 13px;
  bottom: -1px;
}

.image.app {
  top: auto;
  right: -30px;
  bottom: 6px;
}

.image-2 {
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.text-block {
  font-family: Lato, sans-serif;
  color: #bbb;
  font-weight: 300;
}

.heading {
  margin-bottom: 45px;
  font-family: Lato, sans-serif;
  font-size: 37px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
}

.text-span {
  font-size: 17px;
  line-height: 4px;
}

.contact-links {
  margin-right: 45px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  direction: ltr;
  font-family: Lato, sans-serif;
  color: #ff4141;
  font-weight: 400;
  text-decoration: none;
}

.contact-links:hover {
  color: #b8b8b8;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  font-family: Lato, sans-serif;
  font-size: 19px;
  line-height: 33px;
  font-weight: 300;
}

.link {
  color: #ff4141;
  text-decoration: none;
}

.link:hover {
  color: #b8b8b8;
}

@media (max-width: 991px) {
  .div-block {
    width: 750px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .div-block.projectscontainer {
    width: 750px;
    max-width: 750px;
  }
  .projectwrap.about {
    width: 80%;
  }
  .image.app {
    right: -14px;
  }
  .image.badge {
    width: 80px;
  }
}

@media (max-width: 767px) {
  .div-block {
    width: 450px;
  }
  .div-block.projectscontainer {
    max-width: 80%;
  }
  .projectwrap.about {
    width: 100%;
  }
  .project-big {
    width: 100%;
    height: 200px;
  }
  .project-big.medium {
    width: 50%;
  }
  .project-small {
    width: 100%;
    height: 200px;
  }
  .projects-headline.interactiongad {
    border-style: solid;
  }
  .projects-headline.interactiongmp {
    border-style: solid;
  }
  .projects-headline.interactionfen {
    border-style: solid;
  }
  .projects-headline.interactionposters {
    border-style: solid;
  }
  .image {
    top: auto;
    right: -22px;
    bottom: 6px;
  }
  .image.app {
    right: -22px;
  }
}

@media (max-width: 479px) {
  .div-block {
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block.projectscontainer {
    display: block;
    width: 400px;
    height: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .div-block.footer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navs {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-3 {
    margin-right: 0px;
  }
  .projectwrap {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .projectwrap.contact {
    padding-right: 10px;
    padding-left: 10px;
  }
  .projectwrap.about {
    width: 100%;
  }
  .project-big {
    height: 200px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-big.medium {
    width: 100%;
  }
  .project-small {
    height: 200px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .projects-headline.interactiongad {
    padding: 5px;
    border-style: solid;
    font-size: 22px;
    line-height: 26px;
  }
  .projects-headline.interactiongmp {
    padding: 5px;
    border-style: solid;
    font-size: 22px;
    line-height: 26px;
  }
  .projects-headline.interactionfen {
    padding: 5px;
    border-style: none;
    font-size: 22px;
    line-height: 26px;
  }
  .projects-headline.interactionposters {
    padding: 5px;
    border-style: solid;
    font-size: 22px;
    line-height: 26px;
  }
  .image {
    top: NaNpx;
    right: 3px;
    bottom: 3px;
  }
  .image.app {
    right: 3px;
    bottom: 3px;
  }
  .image.badge {
    width: 35px;
  }
  .text-span {
    font-size: 13px;
    line-height: 17px;
  }
  .contact-links {
    margin-right: 0px;
  }
  .div-block-4 {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
}

