@media screen and (min-width: 480px) {
    /* Contact page */
    /* Two colum layout */
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
        margin-bottom: 60px;
    }
    /* Contact page */
    .profile-photo {
        float: left;
        margin: 0 5% 50px 0;
    }
}

@media screen and (min-width: 660px) {
    #projects li {
        width: 45%;
        margin: 0 2.5%;
    }

    #projects li:hover {
    box-shadow: 2px 3px 3.46px 0px rgba(0, 0, 0, 0.35);
    transform: translateX(-5px);
}

    #projects li:hover > .text-position h3 {
        opacity: 1;
    }

    .text-position h3 {
        opacity: 0;
    }

    /* header */
    header {
        padding-bottom: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    nav {
        background: none;
        float: right;
        margin: 30px 5% 0 0;
        text-align: right;
        width: 45%;
    }
    #logo {
        padding: 0;
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 3.em;
    }
}