*{
    margin: 0;
    padding: 0;
}
html, body{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white;
    height: 100%;
    margin: 0 auto;
}

.container {   
    min-height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.main {
    position: relative;
    top:-10%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.left{
    margin-right: 10px;
    width: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.left img{
    max-width: 278px;
}

.right{
    width: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.text{
    margin: 0 0 88px 0;
}

h1{
    font-family: "Bebas Neue",sans-serif;
    font-size: 38px;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;
}

p{
    margin-top: 5px;
    max-width: 430px;
    font-size: 14px;
    font-weight: 300;
    line-height: 145%;
}

.social{
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social img{
    padding-right: 20px;
    width: auto;
    height: 20px;
}

footer{
    width: 100%;
    display: flex;
    
}

footer p {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

/*Media Queries*/

@media (max-width: 600px) {
    .main {
    margin: 0 auto;
    }   

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left{
        justify-content: center;
        width: 100%;
    }

    .right{
        margin-top: 10px;
        width: 278px;
    }

    .text{
        margin-bottom: 0px;
    }

    footer{
        position: absolute;
        bottom: 5px;
    }

    footer p{
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .left img{
        width: 60%;
    }
}




