@import url('https://fonts.googleapis.com/css?family=Arvo:700|Source+Sans+Pro:600,700');
$primary-color: #343942;
$secondary-color: #FF4365;
$tertiary-color: white;
// General
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%
}

body {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: $primary-color;
}

// Fonts
html {
    font-size: 1em;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 1.45;
    color: $primary-color;
}

p {
    margin-bottom: 1.3em;
}

header, section, footer {
    max-width: 100%; 
}

h1,
h2,
h3,
h4 {
    // margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    font-family: 'Arvo', serif;
    margin-top: 0;
    font-size: 6.854em;
}

h2 {
    font-size: 4.236em;
}

h3 {
    font-family: 'Arvo', serif;
    font-size: 2.618em;
}

h4 {
    font-family: 'Arvo', serif;
    font-size: 1.618em;
}

small,
.font_small {
    font-size: 1em;
    line-height: 120%;
}

.titles {
    font-family: 'Arvo', sans-serif;
    font-weight: 700;
    margin-top: 30px;
    text-align: right;
}

//Wrapper
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

//nav
.nav-wrapper {
    width: 100%;
    padding: 30px 0px 25px 0px;
    background: white;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 4;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}

.nav-wrapper ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-wrapper ul a {
    padding: 5px 20px;
    transition: all .5s;
}

.nav-wrapper a:hover {
    color: $secondary-color
}

.nav-wrapper a:active {
    color: $secondary-color
}

//Header
.header-wrapper {
    margin: 80px 0px 80px 20px;
}

.header-wrapper img {
    width: 40px;
    height: auto;
    margin: 20px 0px;
}

.header-wrapper h2 {
    font-family: 'Arvo', serif;
    font-weight: 700;
    line-height: 50%;
}

.stripe1,
.stripe2 {
    width: 200px;
    height: 28px;
    background: #FF4365;
    position: relative;
    bottom: 15px;
    left: 35px;
    z-index: -1;
    display: inline-block;
}

.stripe2 {
    width: 200px;
    left: 85px;
}

// Projects
.project-wrapper {
    margin: 0 auto;
}

.project-wrapper .titles {
    padding-right: 20px;
}

.project {
    max-width: 600px;
    width: 100%;
    height: 320px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 30px auto;
    position: relative;
}

.project1 {
    background: linear-gradient(0deg, rgba(52, 57, 66, 0.3), rgba(52, 57, 66, 0.3)), url(../images/camp-dash.jpg) center center;
    background-size: cover;
}

.project2 {
    background: linear-gradient(0deg, rgba(52, 57, 66, 0.3), rgba(52, 57, 66, 0.3)), url(../images/movie-trailer.jpg) center center;
    background-size: cover;
}

.project3 {
    background: linear-gradient(0deg, rgba(52, 57, 66, 0.3), rgba(52, 57, 66, 0.3)), url(../images/javascript-drums.jpg) center center;
    background-size: cover;
}

.project4 {
    background: linear-gradient(0deg, rgba(52, 57, 66, 0.3), rgba(52, 57, 66, 0.3)), url(../images/nifty-quotes.jpg) center center;
    background-size: cover;
}

.unsplash-badge {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    opacity: .8;
}

.project .project-text {
    font-family: 'Arvo', serif;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 30px;
    text-align: right;
    line-height: 80%;
}

.project-text a {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

.project-text a:hover {
    color: $secondary-color;
}

.icons {
    margin: 20px 0px;
}

.icons a {
    margin-left: 20px;
}

//About
.about-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.about-wrapper img {
    width: 165px;
    border-radius: 10px;
    margin: 30px 30px 30px 0px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
}

.content-wrapper {
    padding: 20px;
    line-height: 150%;
}

.resume {
    color: $secondary-color;
}

.button {
    width: 100px;
    padding: 10px 20px 10px 20px;
    border-radius: 0;
    background: $secondary-color;
    border: none;
    font-family: 'Arvo';
    color: white;
    text-align: center;
    display: block;
    margin-top:25px;
}
//footer
footer{
    padding: 20px;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 5px;
    color: #6F6F71;
    width: 100%;
    text-align: center;
}

.social-icons a {
    margin-right: 30px;
}

.social-icons a:hover {
    opacity: .70;
}

.design {
    line-height: 180%;
}

.footer-wrapper a {
    color: $secondary-color;
}

.footer-wrapper a:hover {
    opacity: .70;
}

//Media Queries 
@media screen and (min-width: 568px) {
    //Header
    .header-wrapper {
        width: 100%;
        max-width: 600px;
        margin: 80px auto;

    } 

    .header-wrapper h2{
        font-size: 6.854em;
        line-height: 70%;
    }

    .header-wrapper img{
        width: 70px;
    }

    .stripe1,
    .stripe2 {
        width: 320px;
        height: 40px;
        bottom: 30px;
        left: 55px;
    }
    
    .stripe2 {
        width: 400px;
        left: 100px;
    }

    //Projects
    .project-wrapper {
        width: 100%;
        max-width: 600px;
    }

    //About
    .content-wrapper h4:first-child{
        margin-bottom: 30px;
    }
    .content-wrapper img{
        float: right;
        margin-top: 0px;
        margin-left: 30px;
    }

    .about-wrapper{
        margin: 80px auto;
    }

    .greet{
        font-size: 2.618em;
    }

    .button{
        margin: 20px 30px 80px;
        float: right;
    }
}

@media screen and (min-width: 850px){
    //General
    .titles{
        font-size: 4.236em;
        margin-bottom: 30px; 
    }

    //Header
    .header-wrapper {
        max-width: 100%;
        margin: 80px auto;
        padding-left: 20px;
        }
    
    //Projects
    .project-wrapper {
        max-width: 100%;
    }

    .project-container{
        display: flex;
        flex-wrap: wrap;
    }

    .project{
        max-width: 600px;
        width: 100%;
        height: 320px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin: 1%;
        position: relative;
        max-width: 100%;
    }

    .project1 {
        order: 1;
        width: 60%;
    }
    .project2 {
        order: 2;
        width: 36%;
    }
    .project3 {
        order: 3;
        width: 36%;
    }
    .project4 {
        order: 4;
        width: 60%;
    }

    //About
    .about-wrapper{
        max-width: 800px;
    }
}

